<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Week1</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  <style lang="">
    #loading {
      height: 100vh;
    }

  </style>
</head>

<body>
  <div id="app">
    <div class="d-flex justify-content-center align-items-center" id="loading" v-if="isLoading">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div v-else>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">後台管理</a>
          <button type="button" class="btn btn-outline-secondary" @click="logOut">登出</button>
        </div>
      </nav>

      <div :class="['d-flex justify-content-center flex-wrap-reverse',{'align-items-center':isActive == null}]">
        <div class="col-12 col-sm-5 col-lg-5 p-3" v-if="products.length > 0 && isActive !== null">
          <div class="card p-3">
            <div class="d-flex">
              <div class="col-4">

                <div class="col-12 mb-2 pe-1 pe-sm-2 pe-lg-3" v-for="image in products[isActive].imagesUrl">
                  <img :src="image" class="card-img-top primary-image" alt="...">
                </div>

              </div>
              <div class="col-8 ">
                <img :src="products[isActive].imageUrl" class="card-img-top primary-image" alt="...">
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">
                {{products[isActive].title}}
                <span class="badge bg-primary">{{products[isActive].category}}</span>
              </h5>
              <p class="card-text">
                {{products[isActive].description}}
              </p>
              <p class="card-text">
                {{products[isActive].content}}
              </p>
              <p class="card-text">
                售價：{{products[isActive].price}}
                <span class="text-secondary">
                  <del>{{products[isActive].origin_price}}</del>
                  {{products[isActive].unit}}
                </span>
                /元
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-5 col-lg-5 p-3" v-else>
          <h3 class="text-center"> 請選擇商品</h3>
        </div>
        <div class="col-12 col-sm-7 col-lg-6 p-3">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">產品名稱</th>
                <th scope="col">原價</th>
                <th scope="col">售價</th>
                <th scope="col">是否啟用</th>
                <th scope="col">查看細節</th>
              </tr>
            </thead>
            <tbody>
              <div v-if="products.length > 0">
                <tr v-for="(product,i) in products" :key="i">
                  <td>{{product.title}}</td>
                  <td>${{product.origin_price}}</td>
                  <td>${{product.price}}</td>
                  <td :class="{ 'text-success': product.is_enabled > 0 }">{{ product.is_enabled>0 ? '啟用':'未啟用'}}</td>
                  <td><button type="button" :class="['btn btn-secondary',{'btn-success':isActive == i}]"
                      @click="productDetail(i)" :disabled="isActive == i">{{ isActive == i ? '正在查看':'查看細節'}}</button>
                  </td>
                </tr>
              </div>
            </tbody>
          </table>
          <p>目前有 {{ products.length }} 項產品</p>
        </div>

      </div>
    </div>


  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@3.2.45/dist/vue.global.min.js"></script> -->

  <script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
    // const { createApp } = Vue

    const url = 'https://vue3-course-api.hexschool.io/v2/'
    const path = 'petshome'


    const app = {
      data() {
        return {
          products: [],
          isActive: null,
          isLoading: true
        }
      },
      mounted() {
        const token = document.cookie.replace(/(?:(?:^|.*;\s*)petsHome\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        axios.defaults.headers.common['Authorization'] = token

        const checkLoginAPI = `${url}api/user/check`
        const getProductsAPI = `${url}api/${path}/admin/products/all`

        axios.post(checkLoginAPI)
          .then(res => {
            console.log('Success');
            axios.get(getProductsAPI)
              .then(res => {
                console.log(res.data.products);
                this.products = Object.values(res.data.products)
                this.isLoading = false
              })
              .catch(err => console.log(err))
          })
          .catch(err => {
            window.location.href = '../week2/'
          })
      },
      methods: {
        productDetail(num) {
          const vm = this;
          vm.isActive = num
        },
        logOut() {
          const logOutApi = `${url}logout`
          axios.post(logOutApi)
            .then(res => {
              console.log(res);
              if (res.data.success) {
                alert(res.data.message)
                window.location.href='../week2/'
              }
            })
            .catch(err => console.log(err))
        }
      }
    }
    createApp(app).mount('#app')
  </script>
</body>

</html>
